<!DOCTYPE html>
<html lang="en">
<head>
    <title>login page</title>
</head>
<body>
    <%- include('common/header') %>  <!--  Header ejs file put must be ejs file  --> 
    <h1>Login page</h1>
</body>
</html>